@use "./variables" as *;
@use "./typography" as *;

// ---- Estructura general ----
@mixin full-size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin center-flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// ---- Imágenes ----
@mixin bg-cover($position: center, $repeat: no-repeat, $size: cover) {
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

// ---- Tipografía ----
@mixin text-main(
  $size: $font-size-principal,
  $font: $type-principal,
  $weight: 900,
  $color: $color-text-principal
) {
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
  color: $color;
}

// --Sombra--
@mixin shadow(
  $color: rgba(0, 0, 0, 0.2),
  $x: 0,
  $y: 4px,
  $blur: 10px,
  $spread: 0
) {
  box-shadow: $x $y $blur $spread $color;
}

// --reponsive--
// Breakpoints base
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
// Mixin para usar breakpoints de forma clara
@mixin respond($size) {
  $value: map-get($breakpoints, $size);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "El breakpoint #{$size} no está definido en el mapa.";
  }
}
