
// Encabezado de sesion
$type-encabezado : serif; // titulo grande, sesiones premium
$type-principal : 'Lora'; // parrafos largos, articulos o descripciones
$type-subTitulo: 'Montserrat'; // Sub Titulos, menus, botones

//Elementos
$type-decorativo: 'Raleway';

