
// Colores Principales
$color-principal: #99CFFF;
$color-fondo: #7EC8E3;
$color-icon: #F7BFD6;

// Coelores para componentes
$color-tarjeta: #C4A8D9;
$color-border: #E6BE4B;
$color-enlace: #5572E5;
$color-neutro: #E0E0E0;
$color-btn-precionar-fondo:#86bedb;
$color-btn-precionar-letra:#fff;

//Colores de texto 
$color-text-principal:#1A1A4D; 


//Tamano de fuentes
$font-size-titulo: 3rem;
$font-size-principal: 1rem;
$font-size-secudnario: 0.8rem;;
$font-size-seccion:2rem;

//Font size para elementos
$font-size-btn: 1.2rem;

// url a img dentro del proyecto

$img-fondo-home: url('@/assets/img/fondo-inicio-plipli.png');