@use "@/assets/styles/base/variables.scss";
.cardServicio {
  div {
    background: $color-quinto;

    h2 {
      font-size: $font-size-seccion;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    p {
      font-size: $font-size-principal;
    }
  }
}

.coleccion-img{
    flex-wrap: wrap;
}