.login-page-container {
  background: $color-log-fondo;
  .login-page-decoracion {
    background: $color-log-fondo-02;
    z-index: 1;
  }
}

.visual-panel{
  img{
    z-index:5;
    position: relative;
  }
}


.content-form {
  z-index: 2;
  background: linear-gradient(160deg, #7fc8fe, #4a74ff);
}

.content-form-login-registro {
  background: #f3f7ff;
  box-shadow: -5px 0px 15px rgba(102, 102, 102, 0.867);
  .form-login-box {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(171, 183, 171, 0.867);
    z-index:10;
    h2 {
      font-size: 1rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: #a4a1a1;
      margin-bottom: 1rem;
    }
  }
}
.form-login-box-entrada,.form-login-box-registro {
  z-index: 20;
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.3rem;
    margin-bottom: 1.2rem;
    label {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 0.9rem;
    }
    input {
      border-bottom: 2px solid #ccc;
      &:focus {
        outline: none;
        border-bottom: 2px solid #6e6d6d;
      }
    }
  }
  .login-button {
    background-color: $color-log-btn;
    color: white;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  }
}

.register-link {
  font-size: 0.8rem;
  font-family: monospace;
  margin-top: 1rem;
  span {
    font-weight: bold;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

// Estilos para el registro de nuevos usuarios
.form-login-box-registro{
    .form-group{
        margin-bottom: 0.5rem;
    }
}


.form-registro{
    .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.3rem;
    padding: 0.2rem;
    label {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 0.9rem;
    }
    input {
      border-bottom: 2px solid #ccc;
      &:focus {
        outline: none;
        border-bottom: 2px solid #6e6d6d;
      }
    }
  }
}
