@use"sass:color";

.nosotros{
    background-color: $color-fondo-segundario;
    padding-bottom: 5%;
    overflow-x: hidden; 

    .nt-content-fondo{
        height: 20rem;
        background-image: $img-fondo-nosotros;
        @include bg-cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 

        p{
            font-size: $font-size-titulo;
            font-family: $type-principal;
            text-shadow: $color-oro 0px 0px 20px, $color-text-principal 2px 2px 5px;
            font-weight: 900;
            color: $color-cuarto;
            padding: 1rem 3rem;
            border-radius: 10px;
            background: rgba($color-principal, 0.7); 
            box-shadow: 0 0 15px rgba($color-cuarto, 0.8);
            letter-spacing: 2px;
        }
    }

    .nt-content-historia {
        background: radial-gradient(
            circle at center, 
            color.adjust($color-fondo-terciario, $lightness: 10%) 0%, 
            $color-fondo-terciario 60%, 
            $color-fondo-segundario 100% 
        );
        
        width: 100%; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
        
        border-radius: 0;
        margin: 0; 
        
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        padding: 5% 10%;
    }

    .coleccion-img {
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        padding: 5% 5%;
        align-items: center;

        background: linear-gradient(135deg, $color-quinto, $color-principal, $color-fondo-cuarto);
        
        border-top-left-radius: 50% 10%; 
        border-bottom-right-radius: 50% 10%; 
        margin-top: 5%;
        margin-bottom: 5%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

        img {
            flex-grow: 1;
            min-width: 150px;
            margin: 5px;
            width: 100%;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            
            &:hover {
                box-shadow: $color-terciario 0 0 25px, $color-oro 0 0 10px;
                transform: scale(1.1) rotate(2deg);
                z-index: 10;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .nosotros {
        .nt-content-fondo {
            height: 15rem;

            p {
                font-size: $font-size-seccion;
            }
        }

        .nt-content-historia {
            padding: 10% 5%;
            margin: 0; 
        }

        .coleccion-img {
            grid-template-columns: repeat(2, 1fr);
            border-top-left-radius: 30% 5%; 
            border-bottom-right-radius: 30% 5%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nosotros {
        .nt-content-historia {
            padding: 5% 5%;
            margin: 0;
        }

        .coleccion-img {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}