.content-cualid {
  background-color: $color-tarjeta-fondo;
  .cualidad-img{
    background:linear-gradient(0deg,$color-segundario,$color-principal);
  }
  .cualidad-infor {

    h4 {
      font-size: 2rem;
      color: $color-text-principal;
      font-family: $type-encabezado;

    }
    p {
      font-size: 1.5rem;
      color: $color-text-principal;
      font-family: $type-principal;
    }
  }
}
