.content-cualid {
  background-color: $color-tarjeta-fondo;
  border-radius: 50px;
  div {
    h4 {
      font-size: 2rem;
      color: $color-text-principal;
      font-family: $type-encabezado;
      height: 20%;
    }
    p {
      font-size: 1.5rem;
      color: $color-text-principal;
      font-family: $type-principal;
      height: 80%;
    }
  }
}
