.cardServicio{
    background-color:#cdcdcd;
    h3{
        font-size:$fotn-size-subtitulo;
        font-weight:500;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:$color-text-principal;
    }
}