.button {
  background-color: $color-principal;
  cursor: pointer;
  color: $color-text-principal;
  font-size: $font-size-btn;
  font-family: $type-subTitulo;
  font-weight: 700;
  &:hover {
    background-color: $color-btn-precionar-fondo;
    color: $color-btn-precionar-letra;
  }
}
